name: Update Power Status

on:
  schedule:
    - cron: '*/15 * * * *' # Запуск кожні 15 хвилин
  workflow_dispatch: # Дозволяє запустити вручну

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install requests beautifulsoup4

      - name: Run parser
        run: python parser.py

      - name: Commit and push changes
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add status.json
          git commit -m "Update status.json" || exit 0
          git push
